
#pageTitle {
  border-bottom: 1px solid #80BD9E;
  font-family: PermanentMarker;
  text-align: center;
  font-size: 20px;
}

.row {
  display: -webkit-flex;
  display: flex;
}
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  margin: 10px;
}
.programme {
  border: 2px solid #FFD64D;/*#bc2629;*/
  border-radius: 8px;
  text-align: center;
}
.chapter {
  color: black;
  background-color: #80BD9E;
  border: 2px solid #FFD64D;
  border-radius: 8px;
}
.chapter-title{
  padding: 10px 10px;
  border-bottom: 1px solid #FFD64D;
  color: #333;
}
.chapter-content{
  padding: 10px 10px;
  text-align: center;
}
.column a:link, a:visited {
  background: #EEE;
  padding: 2px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #444;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.column a:hover, a:active {
  color: #f1f1f1;
  background: #bc2629;
}
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
