html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

header {
    max-width: 1000px;
    margin: auto;
    font-family: PermanentMarker;
    background-color: #80BD9E;
}

nav {
    display: inline-block;
    vertical-align: middle;
}
nav ul li a {
    background: #EEE;
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border-radius: 10px;
}
nav ul li a:hover {
  color: #f1f1f1;
  background: #bc2629;/*#cc4e5c;*/
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}

body > section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0px;
    color: #333;
    font-family: arial;
    font-size: 17px;
}
#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
}
#logo img {
    width: 64px;
    vertical-align: middle;
    margin-right: 10px;
}

@font-face {
   font-family: PermanentMarker;
   src: url(../fonts/PermanentMarker-Regular.ttf);
}
#mainTitle {
    max-width: 1000px;
    margin: auto;
    border: none;
    font-size: 50px;
    text-align: center;
    font-family: PermanentMarker;
}

@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}
@media screen and (max-width: 600px) {
	main {
		float: none;
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
	}

}
